$theme-colors: (
    "info":  #fff,
    "danger":  #FE7F50,
    "success":#4D648D,
    "warning":#fe5050,
    "primary":#1E1F26,
);
$RaisinBlack:#1E1F26;
$SpaceCadet:#283655;
$QueenBlue:#4D648D;
$BeauBlue:#D0E1F9;


@import "~bootstrap/scss/bootstrap";
@import "../node_modules/bootstrap/scss/bootstrap";
@use "sass:color";

