.booking_header {
  // display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 120px repeat(auto, 1fr);

  gap: 1rem;

  .showtime_info {
    grid-area: 1/2/1/9;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    .showtime_info--text {
      display: flex;
      justify-content: flex-end;
      color: white;
      display: flex;

      gap: 3rem;

      .showtime_info_group {
        display: flex;
        flex-direction: column;
        span {
          font-size: 1.2rem;
          font-weight: 200;
        }

        :first-child {
          font-size: 0.9rem;
          border-bottom: 2px solid $DarkBlue;
        }
      }
    }
  }

  .showtime_poster {
    // grid-area: 2/2/2/3;
    grid-area: 2/2/2/12;
  }
  .showtime_title {
    grid-area: 3/4/2/8;
    color: white;
  }
  .showtime_tickets {
    grid-area: 2/4/2/8;
    // align-self: end;
    padding-top: 5rem;
  }

  .showtime_ticket--summary {
    // grid-area: 2/9/2/12;
    grid-area: 3/1/3/12;
    margin-left: 2rem;
    padding: 2rem;
    border-radius: 1rem;
    background: linear-gradient(145deg, #2b3a5b, #24314d);
    box-shadow: 5px 5px 11px #182134, -5px -5px 11px #223257;
    color: white;
    display: flex;
    flex-direction: column;
    .ticket_summary--row {
      margin: 1rem 0;
    }
    .ticket_summary--total {
      margin-top: auto;
      flex-grow: 1 100%;

      h4 {
        margin: 1rem 0;
      }
    }
  }
}

.arrow_back {
  display: flex;
  gap: 1rem;
  color: white;
  align-items: center;
  font-size: 1.5rem;
  cursor: pointer;
  p {
    margin: 0;
  }

  .arrow {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid white;
  }
}

.showtime_ticket--summary {
  // grid-area: 2/9/2/12;
  padding: 2rem;
  border-radius: 1rem;
  background: linear-gradient(145deg, #2b3a5b, #24314d);
  box-shadow: 5px 5px 11px #182134, -5px -5px 11px #223257;
  color: white;
  display: flex;
  flex-direction: column;
  .ticket_summary--row {
    margin: 1rem 0;
  }
  .ticket_summary--total {
    margin-top: auto;
    flex-grow: 1 100%;

    h4 {
      margin: 1rem 0;
    }
  }
}

.showtime_tickets {
  margin-top: 2rem;
  h4 {
    margin-left: 0.5rem;
    color: white;
    padding: 0.5rem 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }
  .ticket_group {
    color: white;
    display: flex;
    flex-wrap: wrap;
    margin: 1.5rem 0;
    align-items: center;

    h5 {
      flex: 100%;
      margin: 0;
    }

    .ticket_quantity {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 1rem;
    }
    .ticket_plus,
    .ticket_minus {
      height: 35px;
      width: 35px;
      border-radius: 5px;
      background: linear-gradient(145deg, #2b3a5b, #24314d);
      box-shadow: 2px 2px 5px #182134, -2px -2px 5px #2c3342;

      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.5rem;
      cursor: pointer;
      span {
        display: inline-block;
        padding-bottom: 6px;
        color: white;
        user-select: none;
      }

      &:active {
        border-radius: 5px;
        background: #283655;
        box-shadow: inset -5px -5px 20px #384b76, inset 5px 5px 20px #182134;
      }
    }
  }
}

.choose_seat {
  color: white;
  margin-top: 2rem;
  h2 {
    margin: 2rem;
  }
}
