.checkoutpage {

    h1 {
        color: white;
        margin-top: 5%;
        margin-bottom: 5%;
    }
    h2 {
        color: white;
    }
    h3 {
        color: white;
    }
    p {
        color: $BeauBlue;
        line-height: 2rem;
      }

}

.checkoutTotal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.tickets {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px;

}

.checkoutInfo {
    
}

.checkoutInfoTotal {

}

.checkoutTicketCard {
    border-style: solid;
    border-color: $BeauBlue;
}

.checkoutTotal {
    margin-top: 40px;
}