.footerContainer {
  position: absolute;
  bottom: 0;
  width: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
  background: $RaisinBlack;
  padding-bottom: 20px;
  color: #fff;
  flex-direction: column;
}

.footerMain {
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 2rem;
}

.footerMainSection {
  display: flex;
  
  flex-direction: column;
}

.footerMainSection2 {
  display: flex;
  
  flex-direction: column;
}

.footerLink {
  font-size: 1.1rem;
  font-weight: 400;
  margin: 2px;
  padding: 0;
}

.footerBottom {
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  margin-top: auto;
  margin-bottom: auto;
  justify-content: space-evenly;
  width: 100%;
}
.footerSocials {
  display: flex;
  flex-direction: row;
}
.twitter {
  width: 32px;
  height: 32px;
  background: url("../assets/twitter.png");
  margin-right: 10px;
}
.instagram {
  width: 32px;
  height: 32px;
  background: url("../assets/instagram.png");
  margin-right: 10px;
}
.facebook {
  width: 32px;
  height: 32px;
  background: url("../assets/facebook.png");
  margin-right: 10px;
}
.youtube {
  width: 32px;
  height: 32px;
  background: url("../assets/youtube.png");
  margin-right: 10px;
}

@media (max-width: 768px) {
  .footerBottom {
    flex-direction: column;
    align-items: center;
  }
  .footerContainer{
    padding-bottom: 0px;
  }
  .footerSocials {
    margin-bottom: 10px;
  }
  .footerMain {
    width: 100%;
    flex-wrap:wrap;
    flex-direction: column;
    padding-bottom: 0.5rem;
    
  }
  .footerMainSection {
  flex-direction: row;
  width: 100%;
  max-width: 100%;
  justify-content: space-evenly;
  margin-left:auto;
  margin-right:auto;
  margin-bottom: 10px;
}
.footerMainSection2 {
  flex-direction: row;
  width: 100%;
  max-width: 100%;
  justify-content: space-evenly;
  margin-left:auto;
  margin-right:auto;
  margin-bottom: 10px;
}
.footerSection {
  text-align: center;
}
}
