.footerContainer {
  position: relative;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
  background: $DarkBlue;
  padding-bottom: 20px;
  color: #fff;
  flex-direction: column;
  padding-top: 2rem;
}

.footerMain {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-bottom: 2rem;
}

.footerMainSection {
  display: flex;
  border: 1px solid gray;
  flex: 33%;
  max-width: 33%;
  flex-direction: column;
}

.footerLink {
  font-size: 1.1rem;
  font-weight: 400;
  margin: 2px;
  padding: 0;
}

.footerBottom {
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  margin-top: auto;
  margin-bottom: auto;
  justify-content: space-evenly;
  border-top: 1px solid rgb(6, 0, 56);
}
.footerSocials {
  display: flex;
  flex-direction: row;
}
.twitter {
  width: 32px;
  height: 32px;
  background: url("../assets/twitter.png");
  margin-right: 10px;
}
.instagram {
  width: 32px;
  height: 32px;
  background: url("../assets/instagram.png");
  margin-right: 10px;
}
.facebook {
  width: 32px;
  height: 32px;
  background: url("../assets/facebook.png");
  margin-right: 10px;
}
.youtube {
  width: 32px;
  height: 32px;
  background: url("../assets/youtube.png");
  margin-right: 10px;
}

@media (max-width: 768px) {
  .footerBottom {
    flex-direction: column;
    align-items: center;
  }
  .footerSocials {
    margin-bottom: 10px;
  }
  .footerMain {
    width: 100%;
  }
}
