.searchComponent {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
.registerThxPage {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  color: white;
  button {
    margin: 2rem;
  }
}

  button {
    margin: 0.5rem;
  }
  .resetButton {
    background-color: rgb(231, 78, 78);
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .searchComponent {
    form {
      flex-direction: row;
    }
  }
}
