.orderdetails {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;

    h1 {
     color: white;
     margin-top: 5%;
     margin-bottom: 5%;
    //  font-size: 1.5rem;
    }
    h2 {
      color: white;
      font-size: 1.5rem;
    }
    h3 {
      color: white;
    }
    h5 {
        color: $BeauBlue;
      }
    p {
      color: $BeauBlue;
      line-height: 1rem;
    }
 }

 @media screen and (max-width: 600px) {
     .orderdetails {
         font-size: 0.7rem;
         margin:auto;

         h1 {
            font-size: 1rem;
         }
         h2 {
            font-size: 1rem;
          }
          h5 {
            font-size: 0.7rem;
          }
     }

 }
  