.orderdetails {
    h1 {
      color: white;
      margin-top: 5%;
      margin-bottom: 5%;
     margin: 20px;
    }
    h2 {
      color: white;
    }
    h3 {
      color: white;
    }
    p {
      color: $BeauBlue;
      line-height: 2rem;
    }
 }