.profileContainer {
  display: flex;
  flex-direction: row;
  // height: 100vh;
  color: white;
}

.profileMain {
  width: 60%;
  margin-right: 2%;
  margin-left: 5%;
  margin-top: 5vh;
  // height: 90vh;
}

.profileSideBar {
  display: flex;
  flex-direction: column;
  margin-top: 4vh;
  margin-left: 2%;
  width: 12%;
  align-items: start;
  text-align: center;
}

.profileAccount {
  margin-top: 10%;
  margin-bottom: 5%;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}

.formController {
  width: 400px;
  margin-right: 40px;
}

.profileAccountBox {
  display: flex;
  flex-direction: row;
  margin-right: 20px;
  margin-bottom: 20px;
}

.profileIcon {
  margin-top: 30px;
  height: 50px;
  width: 50px;
  background: url("../assets/profile.png");
  background-repeat: no-repeat;
}

.lockIcon {
  margin-top: 30px;
  height: 50px;
  width: 50px;
  background: url("../assets/lock.png");
  background-repeat: no-repeat;
}

.emailIcon {
  margin-top: 30px;
  height: 50px;
  width: 50px;
  background: url("../assets/email.png");
  background-repeat: no-repeat;
}

@media screen and (max-width: 600px) {
  .profileContainer {
    flex-direction: column;
  }
  .profileSideBar {
    width: 100%;
    margin-left: 0%;
    flex-direction: row;
  }
  .profileMain {
    width: 98%;
    margin-right: 1%;
    margin-left: 1%;
  }
  .profileAccountBox {
    flex-direction: column;
    margin-right: 0px;
  }
  .profileAccount {
    align-items: center;
  }
  .formController {
    width: 100%;
  }
}
